# Description

Bla bla bla

1. We are importing the required libraries

In [1]:
import pylab as pl #plot package
import pandas as pd #powerful dataframe package
import numpy as np # math package
import os #file management package
import sqlite3

import datetime, glob

2. We are setting up our data location and changing the workspace directory to that directory in order to import data.

In [2]:
DATA_DIR="./data"

try:
    os.chdir(DATA_DIR)
except:
    print ("No data directory. ")

3. We are scanning our data directory and saving the files

In [3]:
files = glob.glob((DATA_DIR + "/*.csv").split("/")[-1])
files.sort()
print('The foloowing files were found:\n')
for file in files:
    print(file)

The foloowing files were found:

2013-07 - Citi Bike trip data.csv
2013-08 - Citi Bike trip data.csv
2013-09 - Citi Bike trip data.csv
2013-10 - Citi Bike trip data.csv
2013-11 - Citi Bike trip data.csv
2013-12 - Citi Bike trip data.csv
201306-citibike-tripdata.csv
2014-01 - Citi Bike trip data.csv
2014-02 - Citi Bike trip data.csv
2014-03 - Citi Bike trip data.csv
2014-04 - Citi Bike trip data.csv
2014-05 - Citi Bike trip data.csv
2014-06 - Citi Bike trip data.csv
2014-07 - Citi Bike trip data.csv
2014-08 - Citi Bike trip data.csv
201409-citibike-tripdata.csv
201410-citibike-tripdata.csv
201411-citibike-tripdata.csv
201412-citibike-tripdata.csv
201501-citibike-tripdata.csv
201502-citibike-tripdata.csv
201503-citibike-tripdata.csv
201504-citibike-tripdata.csv
201505-citibike-tripdata.csv
201506-citibike-tripdata.csv
201507-citibike-tripdata.csv
201508-citibike-tripdata.csv
201509-citibike-tripdata.csv
201510-citibike-tripdata.csv
201511-citibike-tripdata.csv
201512-citibike-tripdata.csv
201601-citibike-tripdata.csv
201602-citibike-tripdata.csv
201603-citibike-tripdata.csv
201604-citibike-tripdata.csv
201605-citibike-tripdata.csv
201606-citibike-tripdata.csv
201607-citibike-tripdata.csv
201608-citibike-tripdata.csv
201609-citibike-tripdata.csv
201610-citibike-tripdata.csv
201611-citibike-tripdata.csv
201612-citibike-tripdata.csv
201701-citibike-tripdata.csv
201702-citibike-tripdata.csv
201703-citibike-tripdata.csv
201704-citibike-tripdata.csv
201705-citibike-tripdata.csv
201706-citibike-tripdata.csv
201707-citibike-tripdata.csv
201708-citibike-tripdata.csv
201709-citibike-tripdata.csv
201710-citibike-tripdata.csv
201711-citibike-tripdata.csv
201712-citibike-tripdata.csv
201801-citibike-tripdata.csv
201802-citibike-tripdata.csv
201803-citibike-tripdata.csv
201804-citibike-tripdata.csv
201805-citibike-tripdata.csv
201806-citibike-tripdata.csv
201807-citibike-tripdata.csv
201808-citibike-tripdata.csv
201809-citibike-tripdata.csv
201810-citibike-tripdata.csv
201811-citibike-tripdata.csv
201812-citibike-tripdata.csv
201901-citibike-tripdata.csv
201902-citibike-tripdata.csv
201903-citibike-tripdata.csv
201904-citibike-tripdata.csv
201905-citibike-tripdata.csv
201906-citibike-tripdata.csv
201907-citibike-tripdata.csv
201908-citibike-tripdata.csv
201909-citibike-tripdata.csv

In [4]:
database_connection = sqlite3.connect('ImportedData.db')
database_cursor = database_connection.cursor()

4. We are preparing the base data structure for importing data

In [5]:
imported_data = pd.DataFrame(columns=['tripduration',
'starttime',
'stoptime',
'start station id',
'start station name',
'start station latitude',
'start station longitude',
'end station id',
'end station name',
'end station latitude',
'end station longitude',
'bikeid',
'usertype',
'birth year',
'gender'])
imported_data

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

5. We are streaming data from each file into our imported data structure

Initially I tried to concatenate the csv files into ine file

In [6]:
file_count = 0

for file in files:
    try:
        # We are importing each file at a time and appending it to the big imported_data 
        print(f"Parsing {file}")
        file_data = pd.read_csv(file, names=['tripduration','starttime','stoptime','start station id','start station name',
                                      'start station latitude', 'start station longitude', 'end station id',
                                      'end station name', 'end station latitude', 'end station longitude', 'bikeid',
                                      'usertype', 'birth year', 'gender'], header=None, skiprows=[0])
        file_data.to_sql('trip_data', database_connection, if_exists='replace', index = False )
        
        # imported_data = imported_data.append(file_data, ignore_index=True, sort=False)
        file_count+=1
    except XLRDError:
        print("Close any open files and try again")

print('We imported {file_count} files into imported_data')

Parsing 2013-07 - Citi Bike trip data.csv

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Parsing 2013-08 - Citi Bike trip data.csv
Parsing 2013-09 - Citi Bike trip data.csv
Parsing 2013-10 - Citi Bike trip data.csv
Parsing 2013-11 - Citi Bike trip data.csv
Parsing 2013-12 - Citi Bike trip data.csv
Parsing 201306-citibike-tripdata.csv
Parsing 2014-01 - Citi Bike trip data.csv
Parsing 2014-02 - Citi Bike trip data.csv
Parsing 2014-03 - Citi Bike trip data.csv
Parsing 2014-04 - Citi Bike trip data.csv
Parsing 2014-05 - Citi Bike trip data.csv
Parsing 2014-06 - Citi Bike trip data.csv
Parsing 2014-07 - Citi Bike trip data.csv
Parsing 2014-08 - Citi Bike trip data.csv
Parsing 201409-citibike-tripdata.csv
Parsing 201410-citibike-tripdata.csv
Parsing 201411-citibike-tripdata.csv
Parsing 201412-citibike-tripdata.csv
Parsing 201501-citibike-tripdata.csv
Parsing 201502-citibike-tripdata.csv
Parsing 201503-citibike-tripdata.csv
Parsing 201504-citibike-tripdata.csv
Parsing 201505-citibike-tripdata.csv
Parsing 201506-citibike-tripdata.csv
Parsing 201507-citibike-tripdata.csv
Parsing 201508-citibike-tripdata.csv
Parsing 201509-citibike-tripdata.csv
Parsing 201510-citibike-tripdata.csv
Parsing 201511-citibike-tripdata.csv
Parsing 201512-citibike-tripdata.csv
Parsing 201601-citibike-tripdata.csv
Parsing 201602-citibike-tripdata.csv
Parsing 201603-citibike-tripdata.csv
Parsing 201604-citibike-tripdata.csv
Parsing 201605-citibike-tripdata.csv
Parsing 201606-citibike-tripdata.csv
Parsing 201607-citibike-tripdata.csv
Parsing 201608-citibike-tripdata.csv
Parsing 201609-citibike-tripdata.csv
Parsing 201610-citibike-tripdata.csv
Parsing 201611-citibike-tripdata.csv
Parsing 201612-citibike-tripdata.csv
Parsing 201701-citibike-tripdata.csv
Parsing 201702-citibike-tripdata.csv
Parsing 201703-citibike-tripdata.csv
Parsing 201704-citibike-tripdata.csv
Parsing 201705-citibike-tripdata.csv
Parsing 201706-citibike-tripdata.csv
Parsing 201707-citibike-tripdata.csv
Parsing 201708-citibike-tripdata.csv
Parsing 201709-citibike-tripdata.csv
Parsing 201710-citibike-tripdata.csv
Parsing 201711-citibike-tripdata.csv
Parsing 201712-citibike-tripdata.csv
Parsing 201801-citibike-tripdata.csv
Parsing 201802-citibike-tripdata.csv
Parsing 201803-citibike-tripdata.csv
Parsing 201804-citibike-tripdata.csv
Parsing 201805-citibike-tripdata.csv
Parsing 201806-citibike-tripdata.csv
Parsing 201807-citibike-tripdata.csv
Parsing 201808-citibike-tripdata.csv
Parsing 201809-citibike-tripdata.csv
Parsing 201810-citibike-tripdata.csv
Parsing 201811-citibike-tripdata.csv
Parsing 201812-citibike-tripdata.csv
Parsing 201901-citibike-tripdata.csv
Parsing 201902-citibike-tripdata.csv
Parsing 201903-citibike-tripdata.csv
Parsing 201904-citibike-tripdata.csv
Parsing 201905-citibike-tripdata.csv
Parsing 201906-citibike-tripdata.csv
Parsing 201907-citibike-tripdata.csv
Parsing 201908-citibike-tripdata.csv
Parsing 201909-citibike-tripdata.csv
We imported {file_count} files into imported_data

In [ ]:

#for file in files:
#        print(DATA_DIR+file)
#        df = pd.concat(DATA_DIR+"/"+file)

In [7]:
database_cursor.execute("SELECT * FROM trip_data limit 5")
print( database_cursor.fetchall())

[(327, '2019-09-01 00:00:01.9580', '2019-09-01 00:05:29.3410', 3733, 'Avenue C & E 18 St', 40.730563000000004, -73.973984, 504, '1 Ave & E 16 St', 40.73221853, -73.98165557, 39213, 'Subscriber', 1968, 1), (1145, '2019-09-01 00:00:04.1430', '2019-09-01 00:19:09.8360', 3329, 'Degraw St & Smith St', 40.6829151, -73.99318208, 270, 'Adelphi St & Myrtle Ave', 40.69308257, -73.97178913, 21257, 'Customer', 1969, 0), (1293, '2019-09-01 00:00:07.3090', '2019-09-01 00:21:40.7580', 3168, 'Central Park West & W 85 St', 40.78472675, -73.96961715, 423, 'W 54 St & 9 Ave', 40.76584941, -73.98690506, 15242, 'Customer', 1969, 0), (1753, '2019-09-01 00:00:08.0640', '2019-09-01 00:29:21.5040', 3299, 'E 98 St & Park Ave', 40.788129999999995, -73.95206, 3160, 'Central Park West & W 76 St', 40.77896784, -73.97374737, 38760, 'Subscriber', 1990, 1), (613, '2019-09-01 00:00:12.8510', '2019-09-01 00:10:26.1850', 486, 'Broadway & W 29 St', 40.7462009, -73.98855723, 478, '11 Ave & W 41 St', 40.76030096, -73.99884222, 32094, 'Subscriber', 1992, 1)]

In [13]:
database_cursor.execute("SELECT DISTINCT bikeid,SUM(maxTIME)  FROM trip_data")
print( database_cursor.fetchall())

[(32303, '2019-09-01 00:00:01.9580', '2019-10-11 15:16:53.3070')]